@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
}

/* global css */
.font-rale {
    font-family: "Raleway", cursive;
}
.font-roboto {
    font-family: 'Roboto', sans-serif;
}
.font-rubik {
    font-family: "Rubik", cursive;
}

.color-primary {
    color: #003859;
}
  
.color-primary-bg {
    background: #003859;
}
  
.color-second {
color: #00A5C4;
}
  
.color-second-bg {
background: #00A5C4;
}
  
.color-yellow {
color: #FFC107;
}
  
.color-yellow-bg {
background: #FFC107;
}

/* header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin: 0 10px;
}

.header-font {
    color : rgb(173, 157, 157);
    font-size: 12px;
}

.header-login-whishlist {
    font-size: 14px;
    align-self: center;
}

.header-login-whishlist a {
    text-decoration: none;
    color : rgb(0, 0, 0);
}

.header-login {
    margin-right: 5px;
}

/* navigation */

nav {
    background: #00A5C4;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    height: 50px;
}

.navbar-container > a,
.navbar-page > a {
    color : white;
    text-decoration: none;
}

.navbar-page a {
    margin-left: 10px;
}

/* banner-area */
.main-site {
    /* display: flex;
    justify-content: center;
    max-width: 100vw;
    max-height: 500px; */
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.image-banner {
    object-fit: contain;
    width: 100%;
}

/* top sale */
#top-sale {
    padding: 4rem 3rem 5rem;
    box-sizing: border-box;
}
.container-top-sale h4 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 200;
}

.container-top-sale .garis-bawah {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

#top-sale .card {
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

#top-sale .card .item {
    width: 100%;
}

#top-sale .card .item a img {
    object-fit: contain;
    width: 100%;
    cursor: pointer;
    transition: transform 0.5s ease;
}

#top-sale .card .item a img:hover {
    transform: scale(1.1);
}

#top-sale .card .item .item-info {
    text-align: center;
}

#top-sale .card .item .item-info h6 {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, .75);
}
#top-sale .card .item .item-info .item-rating {
    font-size: .8rem;
}
#top-sale .card .item .item-info > h6, .item-rating, .item-price {
    margin-bottom: 5px;
}

#top-sale .card .item .item-info .btn-add-to-cart {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    color: rgba(0, 0, 0, .6);
    cursor: pointer;
    transition: transform .5s ease;
}

#top-sale .card .item .item-info .btn-add-to-cart:hover{
    background: #a77d00;
    color: rgb(48, 48, 48);
    transform: scale(1.05);
}