@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
}

/* global css */
.font-rale {
    font-family: "Raleway", cursive;
}
.font-roboto {
    font-family: 'Roboto', sans-serif;
}
.font-rubik {
    font-family: "Rubik", cursive;
}
.font-baloo {
    font-family: "Baloo Thambi 2", cursive;
}

.color-primary {
    color: #003859;
}
  
.color-primary-bg {
    background: #003859;
}
  
.color-second {
color: #00A5C4;
}
  
.color-second-bg {
background: #00A5C4;
}
  
.color-yellow {
color: #FFC107;
}
  
.color-yellow-bg {
background: #FFC107;
}

/* header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin: 0 10px;
}

.header-font {
    color : rgb(173, 157, 157);
    font-size: 12px;
}

.header-login-whishlist {
    font-size: 14px;
    align-self: center;
}

.header-login-whishlist a {
    text-decoration: none;
    color : rgb(0, 0, 0);
}

.header-login {
    margin-right: 5px;
}

/* navigation */

nav {
    background: #00A5C4;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    height: 50px;
}

.navbar-container > a,
.navbar-page > a {
    color : white;
    text-decoration: none;
}

.navbar-page a {
    margin-left: 10px;
}

/* banner-area */
.main-site {
    /* display: flex;
    justify-content: center;
    max-width: 100vw;
    max-height: 500px; */
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.image-banner {
    object-fit: contain;
    width: 100%;
}

/* top sale */
#top-sale {
    padding: 4rem 3rem 5rem;
    box-sizing: border-box;
}

.container-top-sale,
.container-special-price {
    font-size: 20px;
}
.container-top-sale h4,
.container-special-price h4 {
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: 200;
}

.container-top-sale .garis-bawah {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

#top-sale .card {
    display: flex;
    /* fle */
    box-sizing: border-box;
    width: 100%;
    /* max-width: ; */
}

#top-sale .card .item {
    width: 100%;
}

#top-sale .card .item a img {
    object-fit: contain;
    width: 100%;
    cursor: pointer;
    transition: transform 0.5s ease;
}

#top-sale .card .item a img:hover {
    transform: scale(1.1);
}

#top-sale .card .item .item-info {
    text-align: center;
}

#top-sale .card .item .item-info h6 {
    font-size: 1em;
    font-weight: 400;
    color: rgba(0, 0, 0, .75);
}
#top-sale .card .item .item-info .item-rating {
    font-size: .8rem;
}
#top-sale .card .item .item-info > h6, .item-rating, .item-price {
    margin-bottom: 5px;
}

#top-sale .card .item .item-info .btn-add-to-cart,
#special-price .grid .grid-item .item-info .btn-add-to-cart {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    color: rgba(0, 0, 0, .6);
    cursor: pointer;
    transition: transform .5s ease;
}

#top-sale .card .item .item-info .btn-add-to-cart:hover,
#special-price .grid .grid-item .item-info .btn-add-to-cart:hover{
    background: #a77d00;
    color: rgb(48, 48, 48);
    transform: scale(1.05);
}

/* banner-adds */
#banner-adds {
    padding: 0 3rem 3rem;
    text-align: center;
}
/* #banner-adds .container-banner-adds {
    display: flex;
    justify-content: center;
} */

/* special-price */
#special-price {
    padding: 0 3rem 5rem;
}
#special-price .container-special-price {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    
}

#special-price .container-special-price .category {
    flex: .3;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

#special-price .container-special-price .category .btn {
    border: none;
    font-size: .8em;
    background-color: #fff;
}

/* special-price grid */
#special-price .container-special-price {
    font-size: 1rem;
}
#special-price .container-special-price h4 {
    font-size: 1.3em;
    margin-bottom: 30px;
}
#special-price .container-special-price .category .btn {
    font-size: .8em;
}
#special-price .grid {
    /* width: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

#special-price .grid .grid-item{
    width: 100%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
}

#special-price .grid .grid-item h6 {
    font-size: 1em;
    font-weight: 200;
    color: rgba(0, 0, 0, .75);
    margin-bottom: 5px;
}
#special-price .grid .grid-item .item-info > .item-rating, .item-price {
    margin: 5px 0;
}

#special-price .grid .grid-item .item-info .btn-add-to-cart {
    margin-top: 10px;
    border: none;
}


#special-price .grid .grid-item a img{
    object-fit: contain;
    width: 100%;
    /* height: auto; */
}

/* footer */
#footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #343A40;
    height: 200px;
    box-sizing: border-box;
    /* text-align: center; */
    padding: 2rem 4rem;
    column-gap: 30px;
    font-size: 1rem;
}

#footer > .footer-about, .information, .newslatter, .account {
    color: white;
}
#footer > .footer-about h4, .newslatter h4, .information > h4, .account h4 {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 5px;
}

#footer .footer-about p {
    color: rgba(255, 255, 255, 0.486);
    font-size: .9em;
    line-height: 1.6em;
}

#footer .newslatter form {
    display: flex;
    justify-content: space-between;
}

#footer .newslatter form input {
    outline: none;
    padding: 7px;
    border-radius: 5px;
    border: none;
    margin-right: 4px;
    
}

#footer .newslatter form input:focus{
    border: 2px solid #318ae3;
    padding: 5px;
}

#footer .newslatter form button {
    padding: 6px;
    border-radius: 5px;
    background-color: #007BFF;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

#footer .newslatter form button:hover {
    background-color: #0064cf;
    color: rgba(255, 255, 255, 0.654);
}

#footer .information {
    padding-left: 20px;
}

#footer .information .info-link {
    display: flex;
    flex-direction: column;
}

#footer .information >  .info-link a {
    font-size: .87em;
    line-height: 1.5em;
}

#footer .information .info-link a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.486);
}

#footer .information .info-link a:hover {
    color: rgba(255, 255, 255, 0.857);
}

#footer .account .info-account {
    display: flex;
    flex-direction: column;
}

#footer .account .info-account > a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.486);
    font-size: .87em;
    line-height: 1.5em;
}

#footer .account .info-account > a:hover {
    color: rgba(255, 255, 255, 0.857);
}

/* copy right */
.copyright {
    text-align: center;
    height: 50px;
    line-height: 40px;
    background-color: #343A40;
    color:white;
}

.copyright p {
    font-size: .89em;
}

.copyright p a {
    text-decoration: none;
}

.copyright p a:hover {
    color : #147B66;
}